<h1>Fleet Admin</h1>
<a href="<%= vehicles_path %>" data-role="button" data-icon="info" data-mini="true">Vehicles</a>
<p>
<a href="<%= cities_path %>" data-role="button" data-icon="info" data-mini="true">Cities</a>
<p>
<a href="<%= routes_path %>" data-role="button" data-icon="info" data-mini="true">Routes</a>